* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
  padding: 0; }

.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem; }

header {
  padding: 1rem;
  grid-area: header;
  background-color: #203040;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header a,
  header a:link,
  header a:visited {
    text-decoration: none;
    color: white; }
  header a:hover {
    color: orange; }

.brand {
  font-size: 3rem; }

footer {
  background-color: #203040;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }
  .products li {
    flex: 0 1 30rem;
    margin: 1rem;
    height: 42rem;
    border-top: 0.2rem solid #e0e0e0; }

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%; }
  .product a {
    text-decoration: none;
    color: black; }
  .product-img {
    max-width: 22rem;
    max-height: 26rem;
    margin-top: 2rem; }
  .product-name {
    line-height: 2.2rem; }
  .product-brand {
    font-size: 1.2rem;
    color: #808080; }
  .product-price {
    font-size: 2rem; }

/* Rating */
.rating {
  color: #969622;
  font-size: 1.5rem; }

.rating span:last-child {
  font-size: 1.2rem;
  color: grey; }

/* content */
.content {
  margin-top: 3rem; }

.detail {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap; }
  .detail__img {
    flex: 0 0 50rem; }
    .detail__img img {
      width: 100%; }
  .detail__info {
    flex: 0 0 20rem;
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: space-around; }
  .detail__action {
    flex: 0 0 30rem; }

.info-header {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem; }

.detail__action {
  border: 1px solid black;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.801); }

.action-status {
  margin-bottom: 1rem; }

.action-button {
  border: 0.1rem solid #808080;
  width: 100%;
  height: 4rem;
  padding: .5rem 5rem;
  background-color: #f0c040;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 1rem; }
  .action-button:hover {
    border: 0.1rem #404040 solid;
    background: #489e48; }

.review {
  padding-left: 2rem; }
  .review-header {
    font-weight: 700;
    font-size: 2rem; }

.reviews {
  list-style: none;
  padding: 0; }

.review-item {
  height: 10rem; }
