* {
    box-sizing: border-box;
}

html {
    font-size:62.5% //10px == 1rem
}

body {
    height:100vh;
    font: 1.6rem Helvetica, Arial;
    margin: 0;
    padding: 0;
}

/////////////////HEADER
.grid-container {
    height:100%;
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
}

header {
    padding:1rem;
    grid-area: header;
    background-color: #203040;
    color: white;
    a,
    a:link,
    a:visited {
        text-decoration: none;
        color:white;
        
    }
    font-weight: bold;
    display:flex;
    justify-content: space-between;
    align-items: center;

    a:hover {
        color: orange;
    }
}

.brand {
    font-size: 3rem;
}

/////////////////////// Footer 
footer {
    background-color:#203040;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

/////////////////////Main
.products { // 전체 ul
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        flex: 0 1 30rem;
        margin:1rem;
        height:42rem;
        border-top:0.2rem solid #e0e0e0;
        // padding-top:2rem;
    }
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:100%;

    a {
        text-decoration: none;
        color:black;
    }
    &-img {
        max-width:22rem;
        max-height:26rem;
        margin-top: 2rem;        
    }

    &-name {
        line-height: 2.2rem;
    }

    &-brand {
        font-size: 1.2rem;
        color: #808080;
    }
    &-price {
        font-size: 2rem;

    }
}

/* Rating */
.rating {
    color:rgb(150, 150, 34);
    font-size: 1.5rem;
}
.rating span:last-child {
    font-size: 1.2rem;
    color: grey;
}

/* content */

.content {
    margin-top: 3rem;
}

.detail {

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    
    &__img {
        flex: 0 0 50rem;
            
        img {
            width:100%;
        }
    }

    &__info {
        flex: 0 0 20rem;
        display:flex;
        flex-direction: column;
        height:15rem;
        justify-content: space-around;
    }

    &__action {
        flex: 0 0 30rem;
    }

}

.info {
    &-header {
        font-size: 1.7rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &-review {

    }

    &-description {

    }
}

.detail__action {
    border: 1px solid black;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.801);

}
.action-price {
    
}
.action-status {
    margin-bottom: 1rem;
}
.action-button {
    border: 0.1rem solid #808080;
    width:100%;
    height:4rem;
    padding: .5rem 5rem;
    background-color: #f0c040;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 1rem;
    
    &:hover {
        border: 0.1rem #404040 solid;
        background: rgb(72, 158, 72);
    }
}

.review {
    padding-left: 2rem;    
    &-header {
        font-weight: 700;
        font-size: 2rem;
    }
}
.reviews {
    list-style: none;
    padding:0;
}
.review-item {
    height:10rem;
}
